<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tbody>
<tr>
<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
  <tbody>
  <tr>
    <td>
  <table>
  <tbody>
    <tr style="....">
        <td class="content-block" style="..."
            valign="top">
            Hello<strong style="..." th:text="${name}"></strong>
        </td>
    </tr>
    <tr style="...">
      <td class="content-block"
          style="..."
          valign="top">
        <p>My name is John Smith, and I am very happy to welcome you on board with my company! </p>
        <p>You joined thousands of users who are already skyrocketing their sales with my company by savings at least 60% on </p>
        <p>There's just one more tiny step you need to take to achieve all these amazing things. Please Click below to verify </p>
      </td>
    </tr>
    <tr
      style ="...">
      <td class="content-block"
          style="..."
          valign="top">
      <img src="imageFile/store.jpg" >
      <a class="btn-primary"
         style="...."
         th:href="${url}">
        Verify My Account </a>
      </td>
    </tr>
    <tr
      style="...">
      <td class="content-block"
          style="..."
          valign="top">
          Thanks for choosing <b>Our</b> Company.
      </td>
    </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
</table>
<div
    class="footer"
     style="...">
  <table width="100%"
         style="...">
    <tbody>
    <tr
      style="...">
    <td class="aligncenter content-block"
         style="..."
    align="center" valign="top"><a href="#"
                                   style="...">Unsubscribe</a>
    From these alerts.
    </td>
    </tr>
    </tbody>
  </table>

</div>
<td
  style="..."
  valign="top"></td>
</tr>
</tbody>
</table>
</body>
</html>